html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 0;
    background-color: darkcyan;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

main {
    flex: 1;
    padding-top: 40px;
    width: 100%;
}

footer {
    width: 100%;
    background-color: darkcyan;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

nav {
    max-width: 1400px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-right: 30px;
}

.burger {
  display: none;
}

main {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    flex-grow: 1;
    font-size: large;
}

.home, .newsPage, .aboutPage, .servicePage, .servicesAdmin, .postsAdmin, .patientsAdmin, .appointmentPage {
    margin: auto 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles {
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    gap: 20px;
}

.intro {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    gap: 5%;
    text-align: justify;
    justify-items: center;
    align-items: center;
}

.imageHome {
    border-radius: 25px;
    box-shadow: 0 10px 20px gray;
    width: 100%;
    max-height: 250px;
    margin: 0;
    object-fit: cover;
}

.title {
    font-size: xx-large;
    color: darkcyan;
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
}

.gridHome {
    display: grid;
    grid: auto-flow / 2fr 1fr;
    gap: 10px;
    align-items: center;
}

h2, h3 {
    margin: 30px auto;
    text-align: center;
    padding: 10px auto;
    font-weight: bold;
    color: darkcyan;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

.schedules {
    text-align: center;
    margin: 10px auto;
}

.gridCards {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

.card {
    background-color: lightcyan;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    padding: 20px;
    text-align: justify;
    margin-bottom: 30px;
}

.titlecard {
    text-align: center;
    font-size: 1.2em;
    color: darkcyan;
    margin: 5px auto;
}

.button {
    background-color: darkcyan;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: dodgerblue;
    transition: ease-in-out 0.2s;
}

.btnHome {
    font-weight: bold;
    font-size: x-large;
    margin: auto;
    margin-bottom: 50px;
}

.introAbout {
    display: grid;
    grid: auto-flow / 1fr 2fr;
    text-align: justify;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.introAboutReverse {
    display: grid;
    grid: auto-flow / 2fr 1fr;
    text-align: justify;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.photo {
    max-height: 350px;
    max-width: 250px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
    margin: 30px;
}

.formations {
    display: grid;
    grid: auto-flow / 1fr 1fr;
}

li {
    list-style: disc;
    margin: 10px auto;
}

.line {
    height: 1px;
    background-color: darkcyan;
    width: 50%;
    margin: 10px auto;
}

.error {
    color: red;
    padding: 20px;
    font-size: large;
    text-align: center;
    margin-top: 40px;
}

.validated, .updated {
    color: green;
    font-size: large;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.articleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.author {
    color: gray;
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: darkcyan;
    text-align: end;
}

.link:hover {
    color: dodgerblue;
}

.login {
    background-color: lightcyan;
    border-radius: 25px;
    box-shadow: 0 0 40px darkcyan;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input, .date {
    width: 100%;
    border: 1px solid darkcyan;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.gridInput {
    width: 100%;
    display: grid;
    grid: auto / 2fr 5fr;
    align-items: center;
    font-size: medium;
    text-align: left;
}

textarea {
    min-height: 100px;
}

.loginAlt {
    color: gray;
    font-size: small;
    margin-top: 10px;
}

.adminPage {
    display: grid;
    grid: auto-flow / 8fr 2fr;
    gap: 20px;
    margin: 30px;
}

.adminForm {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 10px;
}

.adminForm .gridInput {
    margin: auto;
    gap: 10px;
}

.schedulesData {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 10px;
}

.list {
    width: 100%;
    background-color: lightcyan;
    box-shadow: 0 0 10px darkcyan;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}

thead {
    background-color: darkcyan;
    text-align: left;
    color: white;
}

th, td {
    padding: 20px;
}

tr {
    align-items: center;
}

td {
    border-top: 1px solid darkcyan;
}

.rowPast {
    background-color: lightslategray;
}

.actions {
    text-align: center;
}

.settings {
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr 1fr / auto-flow;
    gap: 20px;
    text-align: center;
}

.update {
    color: darkcyan;
    margin: 5px;
}

.update:hover {
    text-decoration: underline;
}

.delete {
    color: darkred;
    margin: 5px;
}

.delete:hover {
    text-decoration: underline;
}

.data {
    display: grid;
    grid: auto-flow / 2fr 3fr;
    align-items: center;
    gap: 20px;
}

.hour {
    display: grid;
    grid: auto-flow / 3fr 2fr;
    align-items: center;
}

.appointmentBtn {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.add {
    margin: 30px;
}

.addForm, .updateForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
}

.addPage, .updatePage, .appointment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightcyan;
    border-radius: 25px;
    box-shadow: 0 0 40px darkcyan;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
}

.articleImg {
    max-width: 100%;
}

.addImage {
    display: flex;
    align-items: center;
}

.addImage label {
    width: 50%;
    text-align: left;

}

.back {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}


@media (max-width:650px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-wrap: nowrap;
    }

    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .burger span {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 5px 0;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease;
        background-color: darkcyan;
        position: absolute;
        top: 60px;
        right: -30px;
        width: 50%;
    }

    .navbar.open {
        max-height: 400px;
        padding-bottom: 10px;
    }

    main {
        margin: 0;
        font-size:small;
    }

    .title {
        font-size: x-large;
    }

    h2 {
        font-size: large;
    }

    .home, .newsPage, .aboutPage, .servicePage, .servicesAdmin, .postsAdmin, .patientsAdmin, .appointmentPage {
        margin: auto 10px;
        margin-top: 50px;
    }

    .addPage, .updatePage, .appointment, .login {
        width: 80%;
    }

    .introAbout, .introAboutReverse {
        gap: 0;
    }
    .photo {
        max-height: 200px;
        margin: 5px;
    }

    .adminPage {
        display: flex;
        flex-direction: column;
        margin: 40px 10px;
    }

    .list, .adminForm {
        margin: auto;
        max-width: 100%;
        width: fit-content;
        margin-bottom: 20px;
    }
    tr, td, th {
        padding: 10px;
    }

    .table-scroll {
        overflow-x: auto;
        width: 100%;
        padding-bottom: 10px;
    }

    .table-scroll table {
        width: max-content;
        border-collapse: collapse;
    }

    .gridInput, .input, .date, .button {
        font-size: small;
    }

    .gridInput {
        grid: auto / 3fr 5fr;
    }

    .settings {
        width: 100%;
        margin: auto;
        grid: auto / 1fr 1fr;
    }

    .setting1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .intro, .articles {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .gridCards {
        gap: 5px;
        margin: 0;
    }

    .card {
        padding: 5px;
    }

    .schedulesData {
        gap: 15px;
    }
}